<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>
  <div class="field">
    <%= form.label :category %>
    <%= form.select :category, options_for_select(["Select One", "경영","경제", "심리", "문화예술", "IT","과학", "교육","기타"],:disabled => ["Select One"]) %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div class='field'>
    <%= form.hidden_field :email, value: current_user.email %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>
