

<section class="innerbanner" role="banner">
  <!-- banner text -->
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <div class="innerbanner-text text-center">
        <h1><%= @cate%></h1>

        <!-- banner text --> 
      </div>
    </div>
    
    
    <form method="post" action="/posts/search" class="fadeInUp animated">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <div id="custom-search-input">
            <div class="input-group">
              <input name="query" type="text" class=" search-query" placeholder="관심있는 설문지를 검색하세요!" autocomplete="on">
              <input type="submit" class="btn_search" value="검색">
            </div>
            <ul>
              <li>
                <input type="radio" id="all" name="radio_search" value="all" checked="">
                <label for="all">전체</label>
              </li>
              <li>
                <input type="radio" id="doctor" name="radio_search" value="doctor">
                <label for="doctor">뷰티</label>
              </li>
              <li>
                <input type="radio" id="clinic" name="radio_search" value="clinic">
                <label for="clinic">음식</label>
              </li>
            </ul>
          </div>
        </form>    
  </div>
</section>

  

  <div class="cardboard">

    <% @posts.each do |post| %>
    <% if @ability.can? :index, post %>
      <div class="col-lg-3 col-md-6 col-sm-6 cards" id="cardsection">
        <div class="cardtitle"><%= post.title %></div>
        <div class="cardcontent"><%= truncate(post.content, :length => 100) %><br><br><%= link_to '더보기', post, :style=>"color: #12CBC4;" %></div>
        

      <div class="icon-button">
        <div class="icon-button-item">
          <% if @ability.can? :answernew, post %>
          <a href="/posts/#{post.id}/answer/new" ><img src="/images/join.png"></a>
            <%#= link_to '설문참여', "/posts/#{post.id}/answer/new", :style=>"color:#9980FA;" %>
          <% end %>
          <a href="/posts/#{post.id}/result"><img src="/images/result.png"></a>
          <%#= link_to '설문결과', "/posts/#{post.id}/result", :style=>"color:#fd79a8;" %>
        </div> 
      </div>

      <div class="cardbottom">
        <div class="cardbottom-item">
          <% if not user_signed_in? %>
          <% status = ''%>
          <% elsif post.answers.pluck(:ans_email).include? current_user.email %>
          <% status = '완료' %>
          <% elsif post.email == current_user.email %>
          <% status = 'MY'%>
          <% else %>
          <% status = '새 설문'%>
          <% end %>
          <%=status%>

          <% if @ability.can? :update, post %>
            <%= link_to '수정', edit_post_path(post) %>
          <% end %>

          <% if @ability.can? :destroy, post %>
            <%= link_to '삭제', post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
         
          <% if @ability.can? :done, post %>
            <%= link_to '설문종료', "/posts/#{post.id}/done" %></td>
          <% end %>
       
        </div>
      </div>

     </div>
      <%end%>
    <% end %>
  </div>



