<p id="notice"><%= notice %></p>

<h1>Surveys</h1>

<% if user_signed_in? %>
<%= current_user.email + '(' + current_user.roles.pluck(:name).last + ')' %>
<%= link_to "Log out", destroy_user_session_path, method: :delete%>
<% else%>
<%= link_to "Log in", new_user_session_path, method: :get%>
<%= link_to "new sign",new_user_registration_path, method: :get%>
<% end %>
<p>
<%= link_to "ALL", posts_path %>
<%= link_to "경영" ,'/business'%>
<%= link_to "경제", '/economy'%>
<%= link_to "심리", '/psychology'%>
<%= link_to "문화예술", '/culture'%>
<%= link_to "IT", '/it'%>
<%= link_to "과학", '/science'%>
<%= link_to "교육", '/education'%>
<%= link_to "기타", '/others'%>
</p>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Status</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>

    <% @posts.each do |post| %>
    <% if @ability.can? :index, post %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <% if not user_signed_in? %>
        <% status = ''%>
        <% elsif post.status =='done' %>
        <% status = '설문종료' %>
        <% elsif post.answers.pluck(:ans_email).include? current_user.email %>
        <% status = '답변완료' %>
        <% elsif post.email == current_user.email %>
        <% status = 'MY'%>
        <% else %>
        <% status = '새 설문'%>
        <% end %>

        <td><%=status%></td>
        <td><%= link_to 'Show', post %></td>


        <%# if user_signed_in? %>
          <% #if post.email == current_user.email %>
          <% if @ability.can? :update, post %>
            <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <% end %>
          <% if @ability.can? :destroy, post %>
            <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if @ability.can? :done, post %>
            <td><%= link_to '설문종료', "posts/#{post.id}/done" %></td>
          <% end %>
            <td><%= link_to 'Result', "/posts/#{post.id}/result" %></td>

          <% #else %>
          <% if @ability.can? :answernew, post %>
            <td><%= link_to 'Answer', "/posts/#{post.id}/answer/new" %></td>
            <% end %>
          <% #end %>
        <%# end %>

      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? %>
<%= link_to 'New Post', new_post_path %>
<% end %>

<br><br>
<form action="/posts/search" method="post" %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <input name="query" placeholder="찾고싶은 단어를 입력하세요" type="text" autocomplete="off" size="25" >
    <input type="submit" value="검색"><br>
</form>     