<section class="login-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div id="login" class="login">
     <div class="signup-field">
        <span class="title">회원가입</span>
    </div>  
    <div class="signup-form">
      <div class="username-row row" id="row-box">
        <span class="span-box">이름</span>
        <%= f.text_field :username, autofocus: true, class: "username-input bg-transparent" %>
      </div>
      <div class="username-row row" id="row-box">
        <span class="span-box">이메일</span>
        <%= f.email_field :email, autocomplete: "email", class: "username-input bg-transparent" %>
      </div>
      <div class="username-row row" id="row-box">
        <span class="span-box">비밀번호
        <% if @minimum_username_length %>
        <em>(<%= @minimum_username_length %> 글자 이상)</em>
        <% end %></span>
        <%= f.password_field :password, autocomplete: "off" , class: "username-input bg-transparent"%>
      </div>
      <div class="username-row row" id="row-box">
        <span class="span-box">비밀번호 확인</span>
        <%= f.password_field :username_confirmation, autocomplete: "off" , class: "username-input bg-transparent"%>
      </div>
    </div>

    <div class="call-to-action">
      <div class="login-button">
        <%= f.submit "가입하기" %>
      </div>
  <% end %>
      <div class="shared-links">
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</section>
